<div class="row">
    <div id="hands"><h1>Hard & Soft Skills</h1></div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [space]="-10"
            [outerStrokeGradient]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#5271FF'"
            [outerStrokeGradientStopColor]="'#004AAD'"
            [innerStrokeColor]="'silver'"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [animateTitle]="false"
            [animationDuration]="1000"
            [showUnits]="false"
            [showBackground]="false"
            [clockwise]="false"
            [startFromZero]="false"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [space]="-10"
            [outerStrokeGradient]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#5271FF'"
            [outerStrokeGradientStopColor]="'#004AAD'"
            [innerStrokeColor]="'silver'"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="60"
            [imageWidth]="60"
            [animateTitle]="false"
            [animationDuration]="1000"
            [showUnits]="false"
            [showBackground]="false"
            [clockwise]="false"
            [startFromZero]="false"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [space]="-10"
            [outerStrokeGradient]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#5271FF'"
            [outerStrokeGradientStopColor]="'#004AAD'"
            [innerStrokeColor]="'silver'"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [animateTitle]="false"
            [animationDuration]="1000"
            [showUnits]="false"
            [showBackground]="false"
            [clockwise]="false"
            [startFromZero]="false"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [space]="-10"
            [outerStrokeGradient]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#FF914D'"
            [outerStrokeGradientStopColor]="'#FF5757'"
            [innerStrokeColor]="'silver'"
            [imageSrc]="'../assets/eng.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [animateTitle]="false"
            [animationDuration]="1000"
            [showUnits]="false"
            [showBackground]="false"
            [clockwise]="false"
            [startFromZero]="false"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [space]="-10"
            [outerStrokeGradient]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#FF914D'"
            [outerStrokeGradientStopColor]="'#FF5757'"
            [innerStrokeColor]="'silver'"
            [imageSrc]="'../assets/grupal.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [animateTitle]="false"
            [animationDuration]="1000"
            [showUnits]="false"
            [showBackground]="false"
            [clockwise]="false"
            [startFromZero]="false"
            [lazy]="true"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="55"
            [space]="-10"
            [outerStrokeGradient]="true"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#FF914D'"
            [outerStrokeGradientStopColor]="'#FF5757'"
            [innerStrokeColor]="'silver'"
            [imageSrc]="'../assets/git.png'"
            [showImage]="true"
            [imageHeight]="70"
            [imageWidth]="70"
            [animateTitle]="false"
            [animationDuration]="1000"
            [showUnits]="false"
            [showBackground]="false"
            [clockwise]="false"
            [startFromZero]="false"
            [lazy]="true"
        ></circle-progress>
    </div>    
</div>